body{
    margin: 0;
    padding: 0;
}
.wrap{
    width: 100%;
    padding-bottom: 100%;

}
.inner{
    background-color: yellow;
    width: 30%;
    padding-bottom: 30%;
    border-radius: 3%;
    margin: 1%;
    float: left;

}
